<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <nlog autoReload="true" throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.Targets.Syslog" />
    </extensions>
    <variable name="applicationName" value="PrintServiceQueueProcessing" />
    <targets>
      <target name="file" xsi:type="AsyncWrapper">
        <target name="File" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" archiveFileName="${basedir}/logs/archieve/${shortdate}.log" archiveEvery="Day" maxArchiveFiles="7" />
      </target>
      <target name="async_syslog" xsi:type="AsyncWrapper">
        <target name="syslog" type="Syslog" syslogserver="dev-syslog" port="1514" facility="Local7" sender="${applicationName}" layout="${applicationName} ${machinename} ${message}" />
      </target>
      <target name="async_Db" xsi:type="AsyncWrapper">
        <target name="_Db" xsi:type="Database" dbProvider="System.Data.SqlClient" connectionString="Data Source=dev-sql;Initial Catalog=LogDB;User Id=dev;Password=sql;" keepConnection="true" commandText="INSERT INTO Logs(Application,Date,Level,Logger,Message,MachineName,UserName,AspNetUserName,CallSite,Thread,Exception,Stacktrace,ActionGuid,EntityId,ExStackTrace, ExecuteTime, FullExeptionMessage, SerializedData) VALUES('${applicationName}',@time_stamp,@level, @logger, @message, @machinename, @user_name,'---',@call_site,@threadid,@log_exception,@stacktrace,@actionGuid,@entityId,@exStackTrace, @executeTime, @fullExeptionMessage, @serializedData);">
          <parameter name="@time_stamp" layout="${longdate}" />
          <parameter name="@level" layout="${level}" />
          <parameter name="@logger" layout="${logger}" />
          <parameter name="@message" layout="${message}" />
          <parameter name="@machinename" layout="${machinename}" />
          <parameter name="@user_name" layout="${windows-identity:domain=true}" />
          <parameter name="@call_site" layout="${callsite:filename=true}" />
          <parameter name="@threadid" layout="${threadid}" />
          <parameter name="@log_exception" layout="${exception}" />
          <parameter name="@stacktrace" layout="${stacktrace}" />
          <parameter layout="${event-context:item=actionGuid}" name="@actionGuid" />
          <parameter layout="${event-context:item=entityId}" name="@entityId" />
          <parameter layout="${event-context:item=exStackTrace}" name="@exStackTrace" />
          <parameter layout="${event-context:item=executeTime}" name="@executeTime" />
          <parameter layout="${event-context:item=fullExeptionMessage}" name="@fullExeptionMessage" />
          <parameter layout="${event-context:item=serializedData}" name="@serializedData" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" appendTo="file" />
      <logger name="*" minlevel="Trace" appendTo="async_syslog" />
      <logger name="*" minlevel="Trace" appendTo="async_Db" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="QueueUri" value="amqp://guest:guest@localhost:5672/" />
    <add key="ExchangePrefix" value="DevTest" />
    <add key="ParallelIndex" value="1" />
    <add key="QueueRetries" value="2" />
    <add key="QueueMaxReprocessingTime" value="3" />
    <add key="QueueReprocessingTimeout" value="1" />
    <add key="ClientProvidedName" value="QListenerService" />
    <add key="SendJsonMessage" value="true" />
    <!-- Settings for WebApi -->
    <add key="WebServerUrl" value="local.tracking-365.dev.helix.ru" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.2.0" newVersion="3.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.7.0" newVersion="2.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog.Web" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
</configuration>
