<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Helix.Logger" version="3.0.11" targetFramework="net45" />
  <package id="MedIndex.QServiceLib" version="1.0.180" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.4.1" targetFramework="net45" />
  <package id="NLog.Extended" version="4.0.0.1" targetFramework="net45" />
  <package id="NLog.Targets.Syslog" version="2.1.6030.21112" targetFramework="net45" />
  <package id="NLog.Web" version="4.2.1" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.6.6" targetFramework="net45" />
</packages>