<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PostgresDbContext"
         connectionString="Server=tst10-pg;User Id=tracking;Password=tracking;Port=5432;Database=holder_archive_db;POOLING=True;MINPOOLSIZE=10;Preload Reader=true"
         providerName="Npgsql"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AcgdDbContext"
         connectionString="Data Source=tst10-sql;Initial Catalog=AllCenterGlobalDictionariesWork;Persist Security Info=True;User ID=dev;Password=sql;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="innerPortalDB"
         connectionString="Data Source=tst10-sql;Initial Catalog=InnerPortalDBv2;Persist Security Info=True;User ID=dev;Password=sql"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IdentityServices"
         connectionString="Data Source=tst10-sql;Initial Catalog=HelixIdentity;Persist Security Info=True;User ID=dev;Password=sql"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IdentityServicesDbContext"
         connectionString="Data Source=tst10-sql;Initial Catalog=HelixIdentity;Persist Security Info=True;User ID=dev;Password=sql"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="CdnUrl"
         value="cdn-365.cur.helix.ru"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MainDomainUrl"
         value="365.cur.helix.ru"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CookieDomain"
         value=".cur.helix.ru"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="SQLServer" timeout="20" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=tst10-SQL;database=ASPState;user id=dev;password=sql" cookieless="false" xdt:Transform="Replace" />
  </system.web>
  <nlog throwExceptions="true" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="_Db" connectionString="Data Source=tst10-sql;Initial Catalog=LogDB;User Id=dev;Password=sql;" keepConnection="true" commandText="INSERT INTO Logs(Application,Date,Level,Logger,Message,MachineName,UserName,AspNetUserName,CallSite,Thread,Exception,Stacktrace,ActionGuid,EntityId,ExStackTrace, ExecuteTime, FullExeptionMessage, SerializedData) VALUES('${applicationName}',@time_stamp,@level, @logger, @message, @machinename, @user_name,'---',@call_site,@threadid,@log_exception,@stacktrace,@actionGuid,@entityId,@exStackTrace, @executeTime, @fullExeptionMessage, @serializedData);" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></target>
    </targets>
  </nlog>
</configuration>