<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PostgresDbContext"
         connectionString="Server=127.0.0.1;User Id=tracking;Password=tracking;Port=5432;Database=holder_archive_db;POOLING=True;MINPOOLSIZE=10;Preload Reader=true"
         providerName="Npgsql"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="CdnUrl"
         value="local.cdn-365.dev.helix.ru"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MainDomainUrl"
         value="local.365.dev.helix.ru"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>