<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />    
  <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="PostgresDbContext" providerName="Npgsql" connectionString="Server=127.0.0.1;User Id=tracking;Password=tracking;Port=5432;Database=holder_archive_db;POOLING=True;MINPOOLSIZE=10;Preload Reader=true" />
    <add name="AcgdDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=dev-sql;Initial Catalog=AllCenterGlobalDictionariesWork;Persist Security Info=True;User ID=dev;Password=sql;" />
    <add name="innerPortalDB" providerName="System.Data.SqlClient" connectionString="Data Source=dev-sql;Initial Catalog=InnerPortalDbDeploy;Persist Security Info=True;User ID=dev;Password=sql" />
    <add name="IdentityServices" providerName="System.Data.SqlClient" connectionString="Data Source=dev-sql;Initial Catalog=HelixIdentity;Persist Security Info=True;User ID=dev;Password=sql" />
    <add name="IdentityServicesDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=dev-sql;Initial Catalog=HelixIdentity;Persist Security Info=True;User ID=dev;Password=sql" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UserMessageUrl" value="admin/UserMessage/Index" />
    <add key="ChangeMenuStateUrl" value="Menu/ChangeMenuState" />
    <add key="UserMessageCountUrl" value="admin/UserMessage/GetUnreadMessagesCount" />
    <add key="LoginUrl" value="AccountUser/UnAuthorized" />
    <add key="UserSettingsUrl" value="Admin/UserSettings" />
    <add key="ChangePasswordUrl" value="AccountUser/ChangePassword" />
    <add key="LogOffUrl" value="AccountUser/LogOff" />
    <add key="ImageBaseUrl" value="Content/Images" />
    <add key="StyleBaseUrl" value="Content/Styles" />
    <add key="ScriptBaseUrl" value="Content/Scripts" />
    <add key="UseHttps" value="true" />
    <add key="UseHttpsForCdn" value="true" />
    <add key="CdnUrl" value="cdn-365.dev.helix.ru" />
    <add key="MainDomainUrl" value="365.dev.helix.ru" />
    <add key="DownloadTeamViewerUrl" value="AccountUser/TeamViewerDownload" />
    <add key="DownloadHelixOfflineUrl" value="AccountUser/HelixOfflineDownload" />
    <add key="DownloadHelpPdfUrl" value="Admin/DownloadHelpPdf/GetUserManual" />
    <add key="CookieDomain" value=".dev.helix.ru" />
    <add key="owin:appStartup" value="InnerPortal.Shared.BaseStartup, InnerPortal.Shared" />
    <add key="DatabaseInitializerForType Helix.DAL.InnerPortal.InnerPortalContext, Helix.DAL.InnerPortal" value="Disabled" />
    <add key="DatabaseInitializerForType Helix.Identity.ApplicationDbContext, Helix.Identity" value="Disabled" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <machineKey decryption="AES" decryptionKey="158AFE6B11AABF1D50354518DA23FFAE0695A35687B7A192" validationKey="69225F44C0A3C5299908D30C4D4312EA4B233D071A2E476F63CA2B479AD8EC72E7851A2D486BA1DE97062EFC52D0E74CF04994CB7006FB806A82BEC6A7B553ED" />
    <sessionState mode="SQLServer" timeout="20" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=DEV-SQL;database=ASPState;user id=dev;password=sql" cookieless="false" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,HEAD,DEBUG,PATCH,OPTIONS" />
      </customHeaders>
    </httpProtocol>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.7.0" newVersion="2.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog.Web" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
<nlog throwExceptions="true" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="applicationName" value="tracking-365" />
    <targets>
      <target name="async_file" xsi:type="AsyncWrapper" overflowAction="Discard" queueLimit="1000" batchSize="300">
        <target xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${windows-identity:domain=true}|${aspnet-user-identity}|${callsite:filename=true}|${threadid}|${exception}|${stacktrace}" fileName="${basedir}/logs/log.txt" archiveFileName="${basedir}/logs/archive/log.{#}.txt" archiveAboveSize="11000000" maxArchiveFiles="10" archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd" />
      </target>
      <target name="_Db" xsi:type="Database" dbProvider="System.Data.SqlClient" connectionString="Data Source=dev-sql;Initial Catalog=LogDB;User Id=dev;Password=sql;" keepConnection="true" commandText="INSERT INTO Logs(Application,Date,Level,Logger,Message,MachineName,UserName,AspNetUserName,CallSite,Thread,Exception,Stacktrace,ActionGuid,EntityId,ExStackTrace, ExecuteTime, FullExeptionMessage, SerializedData) VALUES('${applicationName}',@time_stamp,@level, @logger, @message, @machinename, @user_name,'---',@call_site,@threadid,@log_exception,@stacktrace,@actionGuid,@entityId,@exStackTrace, @executeTime, @fullExeptionMessage, @serializedData);">
        <parameter name="@time_stamp" layout="${longdate}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@machinename" layout="${machinename}" />
        <parameter name="@user_name" layout="${windows-identity:domain=true}" />
        <parameter name="@asp_net_user_name" layout="${aspnet-user-identity}" />
        <parameter name="@call_site" layout="${callsite:filename=true}" />
        <parameter name="@threadid" layout="${threadid}" />
        <parameter name="@log_exception" layout="${exception}" />
        <parameter name="@stacktrace" layout="${stacktrace}" />
        <parameter layout="${event-context:item=actionGuid}" name="@actionGuid" />
        <parameter layout="${event-context:item=entityId}" name="@entityId" />
        <parameter layout="${event-context:item=exStackTrace}" name="@exStackTrace" />
        <parameter layout="${event-context:item=executeTime}" name="@executeTime" />
        <parameter layout="${event-context:item=fullExeptionMessage}" name="@fullExeptionMessage" />
        <parameter layout="${event-context:item=serializedData}" name="@serializedData" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" appendTo="async_file" />
      <logger name="*" minlevel="Warn" appendTo="_Db" />
    </rules>
  </nlog></configuration>