<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Helix.Logger" version="3.0.10" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="NLog" version="4.3.7" targetFramework="net451" />
  <package id="NLog.Web" version="4.2.1" targetFramework="net451" />
</packages>